<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <el-form :inline="true" :model="search" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="search.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="search.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="search.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSearch">查询</el-button>
            <el-button type="info" @click="onClean">清除</el-button>
        </el-form-item>
    </el-form>
    <el-button type="danger" plain @click="batchDelete">批量删除</el-button>
    <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible"
            width="20%">
        <el-form ref="brand" :model="brand" :rules="rules" label-width="80px">
            <el-form-item label="品牌名称" prop="brandName">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称" prop="companyName">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>
            <el-form-item label="描述">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="status">
                <el-switch v-model="brand.status" active-value="1" inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="displayStatus"
                    align="center"
                    label="当前状态">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <el-row>
                    <el-button type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" circle></el-button>
                </el-row>
            </el-table-column>
        </el-table>
    </template>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>
</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        methods: {
          handleSelectionChange(val) {
            this.multipleSelection = val;
            console.log(this.multipleSelection);
          },
          success() {
            this.$message({
              message: "操作成功",
              type: "success",
              showClose: true
            });
          },
          showData(resp) {
            var brandData = resp.data;
            for (let i = 0; i < brandData.length; i++) {
                if (brandData[i].status == 1) {
                    brandData[i].displayStatus = "启用";
                } else {
                    brandData[i].displayStatus = "禁用";
                }
            }
            this.tableData = brandData;
            this.total = brandData.length;
          },
          selectAll() {
            var _this = this;
            axios({
                method: "get",
                url: "http://localhost:8080/day14-bring-all-together/brand/selectAll"
            }).then(function(resp) {
                _this.showData(resp);
            });
          },
          onSearch() {
            var _this = this;
            axios({
                method: "post",
                url: "http://localhost:8080/day14-bring-all-together/brand/search",
                data: this.search
            }).then(function(resp) {
                _this.showData(resp);
            });
          },
          onClean() {
            this.search.brandName = "";
            this.search.companyName = "";
            this.search.status = "";
            this.onSearch();
          },
          onSubmit() {
            var _this = this;
            axios({
                method: "post",
                url: "http://localhost:8080/day14-bring-all-together/brand/add",
                data: this.brand
            }).then(function(resp) {
                var result = resp.data["result"];
                if (result > 0) {
                    _this.dialogVisible = false;
                    _this.success();
                    _this.selectAll();
                    _this.brand = "";
                }
            });
          },
          batchDelete() {
            this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/day14-bring-all-together/brand/batchDelete",
                    data: this.multipleSelection
                }).then(function(resp) {
                    var result = resp.data["result"];
                    if (result == _this.multipleSelection.length) {
                        _this.success();
                        _this.selectAll();
                    }
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
          },
          handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
          },
          handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
          }
        },
        data: function() {
          return {
            tableData: [],
            multipleSelection: [],
            search: {
              brandName: '',
              companyName: '',
              status: ''
            },
            brand: {
              id: '',
              brandName: '',
              companyName: '',
              status: '',
              ordered: '',
              description: ''
            },
            dialogVisible: false,
            rules: {
              brandName: [
                { required: true, message: '请输入品牌名称', trigger: 'blur' },
              ],
              companyName: [
                { required: true, message: '请输入企业名称', trigger: 'blur' }
              ],
            },
            currentPage: 1,
            total: 0
          }
        },
        mounted: function() {
            this.selectAll();
        }
    });
</script>
</body>
</html>