<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycloudway.mapper.BrandMapper">
    <resultMap id="BrandMap" type="Brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="selectAll" resultMap="BrandMap">
        SELECT * FROM tb_brand
    </select>

    <select id="search" resultMap="BrandMap">
        SELECT * FROM tb_brand
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="brandName != null and brandName != '' ">
                AND brand_name like #{brandName}
            </if>
            <if test="companyName != null and companyName != '' ">
                AND company_name like #{companyName}
            </if>
        </where>
    </select>

    <insert id="add">
        INSERT INTO
            tb_brand (brand_name, company_name, ordered, description, status)
        VALUES
            (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status})
    </insert>

    <delete id="delete">
        DELETE FROM tb_brand WHERE id = #{id}
    </delete>
</mapper>